<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.plumcookingwine.webview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity
                android:hardwareAccelerated="true"
                android:name=".ui.WebActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:process=":cweb">
        </activity>
    </application>

</manifest>